<div *ngIf='show.name===""'>No data available</div>
<div *ngIf="show.name!==''">
    <div>
        <div>
            <span><span class="heading">Title:</span>{{show.name}}</span>
                <br /> 
                <span><span class="heading">Language:</span>{{show.language}}</span>
        </div>
    </div>
    <div>
        <img [src]= "show.image" />
        <span>Genre:{{show.genres}}</span>
    </div>
    <div>
        <span>Summary:{{show.summary}}</span>
    </div>
    <div>
       <span>Rating: {{show.rating}}</span> 
    </div>
    <div>
        Official Site:<a [href]="show.officialSite">{{show.officialSite}}</a> 
       
    </div>
</div>
