.label {
  font-weight:bold;
  font-size: 1000 px;
  font-family: Arial;
  font-style: oblique;
font-style: oblique 10deg;
}

.example-card {
  max-width: 400px;
  background-size: cover;
  background: lightblue;
}