.label {
  font-weight:bold;
  font-size: 1000 px;
  font-family: Arial;
  font-style: oblique;
font-style: oblique 10deg;
}

.example-card {
  max-width: 450px;
  background-size: cover;
  background: lightblue;
  padding: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 80%;
}