
<div id="searchComponent">

    <div class="inputAndButton row">

        <div id="inputDiv" class="col-xs-10 col-md-10 col-lg-10">
            <input id="searchInputField" type="search" placeholder="Enter show name..."/>
        </div>

        <div id="buttonDiv" class="col-xs-2 col-md-2 col-lg-2">
          
                <button id="searchButton"><fa-icon id="searchIcon" [icon]="faSearchIcon"></fa-icon></button>
           
        </div>

        
    </div> 

</div>
          
        
    


