/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: rgb(4, 4, 37);
}

.mat-mdc-form-field-subscript-wrapper
{
    display:none  !important;
}

.summary .mat-grid-tile-content
{
    align-items: normal;
}


.sitefield .mat-grid-tile-content, 
.genrefield .mat-grid-tile-content,
.langfield .mat-grid-tile-content
{
 justify-content: left;
}